.table,
th,
td {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
}

.table {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
table td {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  height: 30px;
  font-weight: 550;
}
table th {
  /* border: 1px solid black; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 25px;
  height: 120px;
}
#removebottom {
  border-bottom: 0px;
}

.bg {
  z-index: 10;
  background-image: url("bg3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
